<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="app">
        <section class="container">
           
            <h1 >cose da fare </h1>
            
            <div class="sectionInput">
                <input v-model="nuovoDato.text" type="text "@keyUp.enter="add()" placeholder="aggiungi cose da fare">
                <button @click="add()" >aggiungi</button>
            </div>
            
            
            <ul>
                <li  v-for="(datoCorrente, indice) in card" :class="addClass(datoCorrente)">
                    {{ datoCorrente.text }}
                    <button @click="change(indice)" >&#9989</button>
                    <button @click="remuve(indice)"> &#10060</button>
                </li>
            </ul>
        </section>
    </section>



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/main.js"></script>
</body>
</html>